<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-action">
    <div>
      <h3>Khóa học của tôi</h3>
      <a href="/me/trash/courses"><i class="fa fa-trash-o" aria-hidden="true"></i> Trash:({{countDelete}})</a>
      <div class="mt-4 d-flex align-items-center">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
              Chọn tất cả
            </label>
          </div>
          <select class="custom-select mr-sm-2 select-options" name="action" required="required">
            <option value="">-- Chọn hành động --</option>
            <option value="delete">Xóa</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <button class="btn btn-primary btn-submit" disabled="disabled">Thực hiện</button>
      </div>
    </div>

    <table class="table table-bordered mt-4">
        <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">Tên khóa</th>
              <th scope="col">Trình độ</th>
              <th scope="col">Thời gian tạo</th>
              <th scope="col" class="text-center">Hành động</th>
            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="coursesId[]" value={{this._id}}>
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td class="text-center">
                    <a class="btn btn-primary" href="/courses/{{this._id}}/edit" role="button">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      Sửa
                    </a>
                    <a class="btn btn-danger" href="#delete_modal" role="button" data-id={{this._id}} data-toggle="modal">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                      Xóa
                    </a>
                </td>
            </tr>

            {{else}}
              <tr>
                <td colspan="5" class="text-center">
                  Bạn chưa đăng khóa học nào
                  <a href="/courses/create"> Đăng khóa học </a>
                </td>
              </tr>
            {{/each}}
        </tbody>
    </table>
</form>
{{!-- Modal-Delete --}}
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Bạn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" id='delete-course'>Xóa</button>
      </div>
    </div>
  </div>
</div>
{{!--Hidden-Form--}}
 <form  method="POST" name="delete-form"></form>
{{!-- --}}
<script>
    document.addEventListener('DOMContentLoaded',function(){

        var courseId;
        var deleteForm = document.forms['delete-form'];
        var containerForm = $('form[name="container-form"]');
        var btnSubmit = $('.btn-submit');
        var btnDeleteCourse = document.getElementById('delete-course');
        var checboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="coursesId[]"]');
        

        //when diaglog confirm
        $('#delete_modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            courseId = button.data('id') // Extract info from data-* attributes
            console.log('id',courseId);
        });
        //when delete confirm
        btnDeleteCourse.onclick=function(){
            deleteForm.action ='/courses/'+courseId+'?_method=DELETE';
            deleteForm.submit();
        };
        //checkbox all change 
        checboxAll.change(function(){
          var isCheck = $(this).prop('checked');
          courseItemCheckbox.prop('checked',isCheck);
          renderCheckAllSubmitButton();
         {/*
          if(isCheck){
            courseItemCheckbox.prop('checked',true)
          }else{
             courseItemCheckbox.prop('checked',false)
          }
          <==> courseItemCheckbox.prop('checked',isCheck)
         */} 
        });
         // course item change
         courseItemCheckbox.change(function(){
           var checkAll = courseItemCheckbox.length === $('input[name="coursesId[]"]:checked').length;
           checboxAll.prop('checked',checkAll);
           renderCheckAllSubmitButton();
         });

         
         //Re-render submit button
         function renderCheckAllSubmitButton(){
           var checkedCount = $('input[name="coursesId[]"]:checked').length;
           if(checkedCount > 0){
             btnSubmit.attr('disabled',false);
           }else{
             btnSubmit.attr('disabled',true)
           }
         };
       
    })
    
</script>