<div class="mt-4">
    <div>
      <a href="/me/stored/courses">Danh sách khóa học</a>
      <h3>Khóa học đã xóa</h3>
    </div>
   
    <table class="table table-bordered mt-4" >
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khóa</th>
            <th scope="col">Trình độ</th>
            <th scope="col">Thời gian tạo</th>
            <th scope="col" class="text-center">Hành động</th>
            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td class="text-center">
                    <a class="btn btn-primary restore" href="" role="button" data-id={{this._id}}>
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        Khôi phục
                    </a>
                    <a class="btn btn-danger" href="#delete_modal" role="button" data-id={{this._id}} data-toggle="modal">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        Xóa vĩnh viễn
                    </a>
                </td>
            </tr>

            {{else}}
              <tr>
                <td colspan="5" class="text-center">
                  Không có khóa học nào
                 
                </td>
              </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{!-- Modal-Delete --}}
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Hành động này không thể khôi phục.Bạn vẫn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" id='delete-course'>Xóa vĩnh viễn</button>
      </div>
    </div>
  </div>
</div>
{{!--Hidden-Form--}}
 <form  method="POST" name="delete-form"></form>
  <form  method="POST" name="restore-form"></form>
{{!-- --}}
<script>
    document.addEventListener('DOMContentLoaded',function(){

        var courseId;
        var deleteForm = document.forms['delete-form'];
        var restoreForm = document.forms['restore-form'];
        var btnDeleteCourse = document.getElementById('delete-course');
        var btnRestore = $('.restore');
        //when diaglog confirm
        $('#delete_modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            courseId = button.data('id') // Extract info from data-* attributes
            console.log('id',courseId);
        });

        console.log(btnDeleteCourse); // nếu này trả về giá trị của input đó => thành công
        
        btnDeleteCourse.onclick=function(){
            deleteForm.action ='/courses/'+courseId+'/force?_method=DELETE';
            deleteForm.submit();
        }

        // when click restore
        btnRestore.click(function(e){
            e.preventDefault();
            console.log($(this).data('id'));
            var courseId = $(this).data('id');
            restoreForm.action ='/courses/'+courseId+'/restore?_method=PATCH';
            restoreForm.submit();
        });
    })
    
</script>