<div class="mt-4">
    <h3>Cập nhật Khóa Học</h3>
    <form class='mt-4' method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" id="name" name="name" value={{course.name}}>
          
        </div>

        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea type="text" class="form-control" id="description" name="description" >{{course.description}}</textarea>
          
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="text" class="form-control" id="image" name="image" value={{course.image}}>
          
        </div>

        <div class="form-group">
            <label for="VideoId">VideoId</label>
            <input type="text" class="form-control" id="Videoid" name="videoid" value={{course.videoid}}>
          
        </div>

        <div class="form-group">
            <label for="level">Trình độ</label>
            <input type="text" class="form-control" id="level" name="level" value={{course.level}}>
          
        </div>

        <button type="submit" class="btn btn-primary">Sửa khóa học</button>
    </form>
</div>